{% extends "base.html.twig" %}

{% block body %}
<main>
    <h1>Découvrez des activités</h1>
    <section>
            <article>
                <a>
                    <img src="{{ asset('images/activite-1.jpg') }}" ></img>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, veritatis hic officiis ratione quo!</p>
                </a>
            </article>
        </section>
</main>
{% endblock body %}